<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-obsidian" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ObsidianService</name>
    <license>MIT</license>
    <js-module name="ObsidianService" src="www/cordova-plugin-obsidian.js">
        <clobbers target="ObsidianService" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ObsidianService">
                <param name="android-package" value="com.saferme.obsidian.ObsidianService" />
                <param name="onload" value="true" />
            </feature> 
        </config-file>
 
        <framework src="src/android/obsidian.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/ObsidianService.java" target-dir="src/com/saferme/obsidian" />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ObsidianService">
                <param name="ios-package" value="ObsidianService" onload="true" />
            </feature>
        </config-file>
        <framework src="src/ios/Obsidian.framework" />
        <source-file src="src/ios/ObsidianService.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
</plugin>
